.MapController {
  text-align: center;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.MapContentArea {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
}
